<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.6" />
        <server name="KERNEL_CLASS" value="App\Kernel" />
        <server name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" />

        <!-- ###+ symfony/messenger ### -->
        <!-- Choose one of the transports below -->
        <!-- MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages -->
        <!-- MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages -->
        <env name="MESSENGER_TRANSPORT_DSN" value="doctrine://default?auto_setup=0"/>
        <!-- ###- symfony/messenger ### -->

        <!-- ###+ lexik/jwt-authentication-bundle ### -->
        <env name="JWT_SECRET_KEY" value="%kernel.project_dir%/config/jwt/private.pem"/>
        <env name="JWT_PUBLIC_KEY" value="%kernel.project_dir%/config/jwt/public.pem"/>
        <env name="JWT_PASSPHRASE" value="f526deebdc814809fbeb63fcb7293c80779dd75dea66175d7a00c8d70f1cf050"/>
        <!-- ###- lexik/jwt-authentication-bundle ### -->

        <!-- ###+ symfony/ai-open-ai-platform ### -->
        <env name="OPENAI_API_KEY" value=""/>
        <!-- ###- symfony/ai-open-ai-platform ### -->

        <!-- ###+ symfony/ai-generic-platform ### -->
        <!-- GENERIC_BASE_URL=https://api.example.com/v1 -->
        <!-- ###- symfony/ai-generic-platform ### -->

        <!-- ###+ symfony/ai-deep-seek-platform ### -->
        <env name="DEEPSEEK_API_KEY" value=""/>
        <!-- ###- symfony/ai-deep-seek-platform ### -->
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
            <directory>src/*/Tests</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
